{% extends "layout.html" %}


{% block title %} 
    <title>Ideias - Casa Criativa</title>
{% endblock %} 
<!--

<body id="page-ideas">
-->

{% set bodyId = "page-ideas" %}

{% block content %}

<header>
    <a href="/">
        <img src="/imgs/logo-casa-criativa.png" alt="Casa Criativa"> 
    </a> 
    <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova ideia</a></li>
    </nav>
</header>
<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>
<!--<main>-->
    <section id="ideas">
        {% include "all_ideas.html" %}                    
    </section>
<!--</main>-->

</div>  

<footer>
Produzido por <a href="https://github.com/yuriandreisilva" target="_blank">Yuri Andrei da Sila</a>
</footer>
{% endblock %} 